//social-share

.social-share {
  margin-top: 20px;
}

.social__share-list {
  font-size: 0;
}

.social__share-item {
  display: inline-block;
  vertical-align: middle;  
  width: 44px;
  height: 24px;
  margin-right: 12px;
  font-size: 0;
  .share-icon {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    height: 100%;
    font-size: initial;
    text-align: center;
  }
  .social__share-score {
    @extend .share-icon;
    line-height: 24px;
  }
}

