$container-width: 1170px;
$font-family: 'proxima';

//color

$main-color: #d50317;
$text: #232527;
$lighten-text: #707173;
$light: #b0b3b8;
$border: #d2d3d5;
$section-bg: #f2f3f5;
$fill: #95979b;

/*respond*/
$xxl: 1170px;
$xl: 1024px;
$sm: 800px;
$xs: 500px;


