/* .report */

.report {
  .row {
    margin: 0 -1em;
      @include breakpoint(800px) {
        margin: 0 2em;
      }
    }
}

.report__text {
  padding-bottom: 74px;
  border-bottom: 1px solid $border;
  margin-bottom: 35px;
}

/* .report__filtres */
.report__filtres {
  margin-bottom: 50px;
}

/* .report__list */

.report__list {
  margin-bottom: 50px;
  .col-4 {
    display: flex;
    margin-bottom: 50px;
  }  
}

.report__item {
  box-shadow: 0px 0px 10px rgba(#000,.15);
}

.report__pic {
  height: 222px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.report__descr {
  display: flex;
  flex-direction: column;
  min-height: 180px;
  padding: 20px 30px 15px 25px;
}

.report__assist {
  margin-bottom: 15px;
  font-size: 0.75em;
  text-transform: uppercase;
  color: $lighten-text;
}

.report__header {
  padding-bottom: 25px;
}

.report__title {
  font-size: 1.125em;
  color: $main-color;
  font-weight: normal;
}

.report__info {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  .report__date {
    font-size: 0.8em;
    color: $light;
  }
  .report__view {
    @extend .report__date;
    position: relative;
    padding-left: 20px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 11px;
      background: url(../img/icons/sprites.png) no-repeat 0 -221px;
    }
  }
}

/*single page*/

.report__container {
  @extend .row;
}

.report__main {
  @extend .col-md-8;
  width: 100%;
  .report__info {
    margin-bottom: 15px;
  }
}

.news-list__title {
  margin: 30px 0;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: normal;
}

.news-list {
  @extend .col-md-4;
}

.news-list__item {
  padding: 25px 0;
  border-bottom: 1px solid $border;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border-bottom: none;
  }
  .report__header {
    padding-bottom: 8px;
  }

  .report__date {
    font-size: 0.75em;
    color: $light;
  }
}

.report__about {
  padding-bottom: 40px;
  border-bottom: 1px solid $border;
}