//callback

.callback-form {
  display: none;
}

.form-callback {
  position: relative;
  max-width: 556px;
  padding: 60px 70px;
  margin: 0 auto;
  border: 1px solid $border;
  background: #fff;
  @include breakpoint($xs) {
    padding: 30px 40px;
  }
}

.form__title {
  margin-bottom: 20px;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 500;
}

.form__text {
  margin-bottom: 20px;
}

.form__input {
  display: block;
  width: 85%;
  padding: 6px;
  margin-bottom: 25px;
  border: 1px solid $border;
  font-size: 0.9em;
}

.form__input::placeholder {
  opacity: 1;
  font-family: $font-family;
}

.form-callback button.mfp-close {
  font-size: 48px;
}

/* form-filtres */

.form-filtres__label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.125em;
  text-transform: uppercase;
  cursor: pointer;
}
.form-row {
  justify-content: space-between;
}
.form-col {
  margin-bottom: 20px;

  &--4 {
    padding: 0 20px;
    @extend .col-sm-6;
    @extend .col-sm-6;
    @extend .col-md-4;
    @include breakpoint(800px) {
      padding: 0 !important;
      width: 100%;
      flex: 1 1 100%;
    }        
  }
  &--2 {
    @extend .col-sm-6;
    @extend .col-md-2;
    @include breakpoint(900px) {
      margin-bottom: 0;
    }
    @include breakpoint(800px) {
      width: 100%;
      flex: 1 1 100%;
    } 
    &:last-child {
      align-self: flex-end;
      text-align: right;
      @include breakpoint(800px) {
        margin-top: 20px;
      }
    }   
  }
  &--12 {
    @extend .col-xs-12;
    @include breakpoint(800px) {
      padding: 0 !important;
    }
  }
}

.select-wrapper { 
  position: relative;
  width: 100%;
  height: 30px;
  background: #ffffff;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: $border transparent transparent transparent;
    pointer-events: none;
  }
}

.form__select {
  -webkit-appearance: none;
    -moz-appearance: none;
  width: 100%;
  height: 100%;
  padding: 0 30px 0 10px;
  background: none;
  outline: none;
  border: 1px solid $border;
  font-size: 14px;
  option {
    padding: 10px;
  }
}

.form__message {
  width: 100%;
  height: 85px;
  padding: 6px;
  border: 1px solid $border;
  @extend .form__input::placeholder;
}


.form__label-box {
  position: relative;
  align-self: center;
  padding-left: 35px;
  &:before, &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
  }
  &:before {
    width: 20px;
    height: 20px;    
    transform: translateY(-50%);
    border: 1px solid $border;
  }
}

input[type="checkbox"]:checked + .form__label-box {
  &:after {
    left: 5px;
    width: 7px;
    height: 12px;
    border-right: 3px solid $main-color;
    border-bottom: 3px solid $main-color;
    transform: translateY(-60%) rotate(45deg);
  }
}


/*customise*/

#volunteer__form {
  .form__input {
    width: 100%;
    margin-bottom: 0;
  }
  // @include breakpoint(800px) {
  //   .form-col--4 {
  //     padding: 0;
  //   }
  // }
}

